<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebase</title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/index.js" defer></script>
</head>
<body>
    <h1>HomePage</h1> 
    <div align = "center"><h2>Welcome, <%= user.username %></h2></div>

    <!--logout,redirect to index.ejs-->
    <div class="grid-buttons" align = "center">
        <a href="/" class="grid-buttons__button">
            Logout
        </a>

        <a href="/deleteAccount" class="grid-buttons__button">
            Delete Account
        </a>

        <a href="user/edit/<%= user.id %>" class="grid-buttons__button">
            Edit Account
        </a>

        <a href="/server/join" class="grid-buttons__button">
            Join Server
        </a>
    </div>
</body>
</html>