<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebase</title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/index.js" defer></script>
</head>
<body>
    <section>
        <h1>Register For An Account</h1>
        <!--TODO Only show buttons if user session does not exist-->
        <form method="post" action="/register">
            <table style="display:inline">
            
            <tr>
                <td><div align="right"><font face="Arial, Helvetica, sans-serif" size="2">Username:</font></div></td>
                <td><input type="text" name="username"  size=50 maxlength=30></td>
            </tr>
            <tr>
                <td><div align="right"><font face="Arial, Helvetica, sans-serif" size="2">Email:</font></div></td>
                <td><input type="text" name="email"  size=50 maxlength=30></td>
            </tr>
            <tr>
                <td><div align="right"><font face="Arial, Helvetica, sans-serif" size="2">Password:</font></div></td>
                <td><input type="password" name="password" size=50 maxlength="30"></td>
            </tr>
            
            </table>
            <br/>
            <div align = "center"><input class="grid-buttons__button" type="submit" name="submit" value="Register"></div>
        </form>

        <!--if fields are blank prompt user-->
        <script>
            const form = document.querySelector('form');
            const submitButton = document.querySelector('input[type="submit"]');
          
            submitButton.addEventListener('click', (event) => {
              const usernameInput = document.querySelector('input[name="username"]');
              const emailInput = document.querySelector('input[name="email"]');
              const passwordInput = document.querySelector('input[name="password"]');
          
              if (!usernameInput.value || !emailInput.value || !passwordInput.value) {
                event.preventDefault();
                alert('Please fill in all fields before submitting.');
              }
            });
          </script>

        <div class="grid-buttons" align = "center">
            <a href="/" class="grid-buttons__button">
                cancel
            </a>
        </div>
        
        
        
    </section>
</body>
</html>