<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebase</title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/index.js" defer></script>
</head>
<body>
    <h1>Join a Server</h1>
    <div align = "center">
        <form action="/server/join" method="POST">
            <label for="name">Server Name:</label>
            <input  type="text" id="name" name="name">
            <input type="submit" value="Join">
        </form>
</body>
</html>